<div class="row ">
  <div class="col-md-8 ">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3>
          <%= @response.display_name %>
        </h3>
      </div>

      <div class="panel-body ">
        <div>
        Completed
        <%= @response.question_responses_count %>
        of
        <%= Question.count %>
        questions
        </div>
        <hr>
        <div>
        <div>
        <strong> Purpose </strong>
        <% raw_score,max_score = 0,0 %>
        <% @response.question_responses.select{|el| raw_score += el.question_choice.score if el.question_choice.creative_quality.name === "Purpose"} %>
        <% @response.question_responses.select{|el| max_score += el.question.question_choices.max{|el| el.score}.score if el.question_choice.creative_quality.name === "Purpose"} %>
        <ul>
        <li> Raw score : <%= raw_score %> </li>
        <li> Max score : <%= max_score %> </li>
        </ul>
        </div>
      </div>
        <div>
        <strong> Empowerment </strong>
        <% raw_score,max_score = 0,0 %>
        <% @response.question_responses.select{|el| raw_score += el.question_choice.score if el.question_choice.creative_quality.name === "Empowerment"} %>
        <% @response.question_responses.select{|el| max_score += el.question.question_choices.max{|el| el.score}.score if el.question_choice.creative_quality.name === "Empowerment"} %>
        <ul>
        <li> Raw score : <%= raw_score %>  </li>
        <li> Max score : <%= max_score %> </li>
        </ul>
        </div>
        <div>
        <strong> Collaboration </strong>
        <% raw_score,max_score = 0,0 %>
        <% @response.question_responses.select{|el| raw_score += el.question_choice.score if el.question_choice.creative_quality.name === "Collaboration"} %>
        <% @response.question_responses.select{|el| max_score += el.question.question_choices.max{|el| el.score}.score if el.question_choice.creative_quality.name === "Collaboration"} %>
        <ul>
        <li> Raw score : <%= raw_score %> </li>
        <li> Max score : <%= max_score %> </li>
        </ul>
        </div>
      </div>
      </div>


    <hr>

    <% @response.question_responses.each do |question_response| %>
      <%= render 'questions/header', question: question_response.question %>

      <table class="table table-bordered">
        <% question_response.question.question_choices.each do |question_choice| %>
          <tr>
            <td>
              <% if question_choice == question_response.question_choice %>
                <strong>
                  <%= question_choice.text %>
                </strong>

                <div class="<%= question_choice.score > 0 ? "text-success" : "text-danger" %>">
                <%= question_choice.creative_quality.name %>
                <%= question_choice.score %>
                </div>

              <% else %>
                <span class="text-muted">
                  <%= question_choice.text %>
                </span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    <% end %>
  </div>
  </div>
</div>
